/* blue #00aced */

html, body {
  font-size: 20px;
}

.overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #00aced, #57e5af);
}

.input {              /* Input container */
  display: flex;
  /*display: none;*/
  position: absolute;
  top: 40%;
  width: 70%;
  height: 120px;
  justify-content: center;
  font-size: 400%;
  transition: width .4s, height .4s, top .4s;
}

input {             /* Input tag */
  font-family: 'Raleway', sans-serif;
  color: #00aced;
  font-weight: 900;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
}

input:focus {
  outline: none;
}

.input i {
  position: absolute;
  right: 40px;
  bottom: -7px;
  font-size: 110%;
  color: #9a9a9a;
  cursor: pointer;
  transition: right .4s, bottom .4s;
}

/* -------------------------------
INPUT TRANSITIONS
---------------------------------*/

.input-transition {    /* transitions input container */
  width: 25%;
  font-size: 100%;
  height: 40px;
  top: 7%;
}

/* -------------------------------
TWEETS
---------------------------------*/

.tweets-container {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 90px;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: opacity .5s;
  transition-delay: .2s;
}

.box {
  /*height: 400px;*/
  width: 31%;
  background: white;
  border-radius: 8px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.header img { 
  border-radius: 50%; 
  margin-right: 10px;
}

.header-name { 
  display: inline-block; 
}

.header-name p {
  margin-bottom: 0;
}

.header-name p:first-child {
  color: #14171a;
  display: inline-block;
}

.header-name i {
  font-size: 17px;
  margin-left: 5px;
  color: #00aced;
}

.header-name p:last-child {
  margin-top: -3px;
  font-size: 75%;
  color: #657786;
}

.content {
  margin-top: 10px;
  margin-left: 21px;
  font-size: 90%;
  border-left: 4px solid #DDE2E6;
  padding-left: 15px;
  color: #14171a;
  
}

/* -------------------------------
TWEETS ANIMATION
---------------------------------*/

.tweets-animation {
  opacity: 1;
}



























